.btn1{
    color:white;
    background-color: black;
    margin-bottom: 10px;
    padding: 20px;
}

.btn-two{
    color:white;
    background-color: rgb(61, 216, 69);
    margin-bottom: 10px;
    padding: 20px;
}
.btn-three{  
    color:white;
    background-color: rgb(84, 8, 139);
    margin-bottom: 10px;
    padding: 20px;

}
.hideshow{
    display: none;
}
